.version._____ /* version checker */
{
	color: #0000F6;
	background-color: #3B4D24;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 603.6707031250007px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 6px;
	width: 0.01px;
}

#u651-3
{
	z-index: 29;
	width: 380px;
	min-height: 71px;
	margin-right: -10000px;
}

#u652
{
	z-index: 32;
	width: 55px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 162px;
}

#u655
{
	z-index: 38;
	width: 33px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 13px;
}

#accordionu1563
{
	z-index: 40;
}

#u1564
{
	z-index: 41;
}

#u1574-3
{
	z-index: 42;
	min-height: 45px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1574-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 45px;
	margin: 0px;
}

#u1574-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 44px;
	margin: 0px;
}

#u1565
{
	z-index: 45;
}

#u1568
{
	min-height: 17px;
	padding-bottom: 41px;
}

#u1568:active
{
	min-height: 17px;
	margin: 0px;
}

#u1569-4
{
	min-height: 17px;
	top: 20px;
}

#u1568:active #u1569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1591
{
	min-height: 17px;
	padding-bottom: 41px;
}

#u1568.MuseMenuActive,#u1591:active
{
	min-height: 17px;
	margin: 0px;
}

#u1593-4
{
	min-height: 17px;
	top: 20px;
}

#u1568.MuseMenuActive #u1569-4,#u1591:active #u1593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1598
{
	min-height: 17px;
	padding-bottom: 41px;
}

#u1591.MuseMenuActive,#u1598:active
{
	min-height: 17px;
	margin: 0px;
}

#u1601-4
{
	min-height: 17px;
	top: 20px;
}

#u1591.MuseMenuActive #u1593-4,#u1598:active #u1601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1605
{
	min-height: 17px;
	padding-bottom: 42px;
}

#u1598.MuseMenuActive,#u1605:active
{
	min-height: 17px;
	margin: 0px;
}

#u1608-4
{
	min-height: 17px;
	top: 21px;
}

#u1598.MuseMenuActive #u1601-4,#u1605:active #u1608-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1612
{
	min-height: 17px;
	padding-bottom: 42px;
}

#u1605.MuseMenuActive,#u1612:active
{
	min-height: 17px;
	margin: 0px;
}

#u1613-4
{
	min-height: 17px;
	top: 21px;
}

#u1605.MuseMenuActive #u1608-4,#u1612:active #u1613-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1617
{
	min-height: 17px;
	padding-bottom: 42px;
}

#u1612.MuseMenuActive,#u1617:active
{
	min-height: 17px;
	margin: 0px;
}

#u1617.MuseMenuActive
{
	min-height: 17px;
	margin: 0px;
}

#u1618-4
{
	min-height: 17px;
	top: 21px;
}

#u1612.MuseMenuActive #u1613-4,#u1617:active #u1618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1617.MuseMenuActive #u1618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1588,#u1595,#u1602,#u1609,#u1616
{
	margin-top: 2px;
}

#menuu1566,#menuu1566-bw
{
	z-index: 46;
	min-height: 409px;
}

#accordionu1563-bw
{
	z-index: 40;
	margin-top: 3px;
}

#u664
{
	z-index: 3;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u693-7
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 69px;
}

#u694-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 144px;
}

#u695
{
	z-index: 16;
	width: 308px;
	height: 155px;
	border-width: 4px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 30px;
}

#pu651-3,#pu664,#pu697
{
	width: 0.01px;
}

#u697
{
	z-index: 2;
	min-height: 232px;
	background-color: #FFFFFF;
	padding-bottom: 63px;
}

#u696-10
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 25px;
}

#u697-bw
{
	z-index: 2;
	min-height: 232px;
}

#u705
{
	z-index: 27;
	height: 10px;
	background-color: #8C6239;
}

#u705-bw
{
	z-index: 27;
	margin-top: 17px;
	height: 10px;
}

#u707
{
	z-index: 28;
	height: 10px;
	background-color: #8C6239;
}

#u707-bw
{
	z-index: 28;
	margin-top: 268px;
	height: 10px;
}

#u654-4
{
	z-index: 34;
	width: 247px;
	min-height: 13px;
	margin-left: 60px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 380px;
}

